fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
matplotlib==3.8.3
pandas==2.2.1
numpy==1.26.4
base64io==1.0.1
langchain==0.1.14
langchain_experimental==0.0.52
langchain_groq==0.0.5
groq==0.5.0
streamlit==1.32.2
